.delete[role="button"] {
  color: var(--del-color);
  border-color: var(--del-color);
}

.login-action:not(:first-child) {
  margin-top: 5em;
}

@media (max-width: 999px) {
  p br,
  div br {
    display: contents;
  }
}
