<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>unflwrs</title>

    <link rel="stylesheet" href="/static/css/pico.css?{{ env!("CARGO_PKG_VERSION") }}">
    <link rel="stylesheet" href="/static/css/unflwrs.css?{{ env!("CARGO_PKG_VERSION") }}">

    {% block header %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    <footer class="container">
        <p>a project by <a href="https://syfaro.net">syfaro</a></p>
        <p>
            <a href="https://github.com/Syfaro/unflwrs/releases/tag/v{{ env!("CARGO_PKG_VERSION") }}">
                v{{ env!("CARGO_PKG_VERSION") }}
            </a>
        </p>
    </footer>

    <script src="/static/js/unflwrs.js?{{ env!("CARGO_PKG_VERSION") }}"></script>
</body>

</html>
