<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>unflwrs</title>

    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/chartist.min.css">
    <link rel="stylesheet" href="/static/css/unflwrs.css">
</head>

<body>
    {% block content %}{% endblock %}

    <footer class="container">
        <p>a project by <a href="https://syfaro.net">syfaro</a></p>
    </footer>

    <script src="/static/js/chartist.min.js"></script>
    <script src="/static/js/unflwrs.js"></script>
</body>

</html>
