{% extends "base.html" %}

{% block header %}
    <meta name="csrf-token" value="{{ csrf_token }}">
{% endblock %}

{% block content %}
<header class="container">
    <hgroup>
        <h1>@{{ user.screen_name }}'s {{ page.as_str() }} feed</h1>
        {% match last_updated %}
        {% when Some with (last_updated) %}
        <h2>
            last updated
            <span class="relative-time" data-timestamp="{{ last_updated.timestamp() }}">{{ last_updated }}</span>
        </h2>
        {% else %}
        <h2 data-missing="yes">waiting for first update</h2>
        {% endmatch %}
    </hgroup>

    <p>
        {% if track_opts.followers && track_opts.following %}
            {% match page %}
            {% when FeedPage::Followers %}
            <a href="/feed?page=following">view following feed</a>
            {% when FeedPage::Following %}
            <a href="/feed?page=followers">view follower feed</a>
            {% endmatch %}
        {% endif %}
    </p>

    <p>
        <a href="/export/csv" role="button" class="outline">export csv</a>
        <a href="/export/ff" role="button" class="outline">export friends and followers</a>
        <a href="#" role="button" class="delete outline" id="delete-account" data-tooltip="remove tracked history, does not affect twitter">delete saved data</a>
    </p>
</header>

<main class="container" data-page="feed">
    {% if events.is_empty() %}
    {% if !track_opts.followers && !track_opts.following %}
    <p>not tracking anything.</p>
    {% else %}
    <p>no events found yet. please reload in a minute.</p>
    {% endif %}
    {% else %}

    <table>
        <thead>
            <tr>
                <th>account</th>
                <th>event</th>
                <th>observed</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in events %}
            <tr>
                <td>
                    <a href="https://twitter.com/intent/user?user_id={{ entry.user.id }}">
                        @{{ entry.user.screen_name }}
                    </a>
                </td>
                <td>{{ entry.event }}</td>
                <td class="relative-time" data-timestamp="{{ entry.created_at.timestamp() }}">{{ entry.created_at }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
{% endblock %}
