{% extends "base.html" %}

{% block header %}
    <meta name="csrf-token" value="{{ csrf_token }}">
{% endblock %}

{% block content %}
<header class="container">
    <hgroup>
        <h1>@{{ user.screen_name }}'s feed</h1>
        {% match last_updated %}
        {% when Some with (last_updated) %}
        <h2>
            last updated
            <span class="relative-time" data-timestamp="{{ last_updated.timestamp() }}">{{ last_updated }}</span>
        </h2>
        {% else %}
        <h2 data-missing="yes">waiting for first update</h2>
        {% endmatch %}
    </hgroup>

    <a href="/export/csv" role="button" class="outline">export csv</a>
    <a href="#" role="button" class="delete outline" id="delete-account">delete my data</a>

    <div class="ct-chart"></div>
</header>

<main class="container" data-page="feed">
    {% if events.is_empty() %}
    <p>no events found yet. please reload in a minute.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>account</th>
                <th>event</th>
                <th>observed</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in events %}
            <tr>
                <td>
                    <a href="https://twitter.com/intent/user?user_id={{ entry.user.id }}">
                        @{{ entry.user.screen_name }}
                    </a>
                </td>
                <td>{{ entry.event }}</td>
                <td class="relative-time" data-timestamp="{{ entry.created_at.timestamp() }}">{{ entry.created_at }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
{% endblock %}
