{% extends "base.html" %}

{% block content %}
<header class="container">
    <hgroup>
        <h1>unflwrs</h1>
        <h2>simple twitter follower tracking</h2>
    </hgroup>
</header>

<main class="container">
    <form method="POST" action="/twitter/login">
        <button>sign in with twitter</button>

        <label for="oneoff">
            <input type="checkbox" id="oneoff" name="oneoff" value="yes">
            perform a one-off export of friends and followers instead
        </label>
    </form>
</main>
{% endblock %}
