{% extends "base.html" %}

{% block content %}
<header class="container">
    <hgroup>
        <h1>unflwrs</h1>
        <h2>simple twitter follower tracking</h2>
    </hgroup>
</header>

<main class="container">
    <form method="POST" action="/twitter/login">
        <div class="login-action">
            <button name="oneoff" value="yes">friends & followers export</button>
            <p>
                generate a zip archive containing csv files of your following, followers, and lists.<br>
                each user will have an entry with their display name, username, website, location, bio, and pinned tweet.<br>
                no information is retained on the server.
            </p>
        </div>

        <div class="login-action">
            <button class="outline">track my followers</button>
            <p>
                keep checking your twitter followers to keep track of them over time.<br>
                twitter tokens will be saved to fetch this information.
            </p>
        </div>
    </form>
</main>
{% endblock %}
